.teams{
  display: flex;
  margin: 50px 100px;
  align-items: center;
 
}
.btn-primary{
  background-color: #FF900E;
  border: none;
  color: #FFFFFF;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 8px;
}
.team-img-container{
  
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
@media  screen and (max-width: 576px) {
  .teams{
    flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat(1,1fr);
  }
}
