@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.color{
  color: #FF900E;
}
.display-flex{
  display: flex;
}
.bg-light{
  background-color: rgb(255,144,14, 0.1);
}
.btn-primary{
  background-color: #FF900E;
  border: none;
  color: #FFFFFF;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 8px;
}
.section-title{
  font-size: 1.4rem;
  font-weight: 700;
}
/* main{
  width: 720px;
  margin: 0 auto;
  
} */
main > section{
  margin-top: 50px;
}
/* dark 02 */
.text-gray{
  color: #424242;
}
/* dark 03 */
.text-light-gray{
  color: #727272;
}
/* header styles */

/* navbar related styles */
.navbar{
 justify-content: space-between;
 align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  color: ;
}
.navbar , .banner {
  max-width: 1440px;
  margin: 0 auto;
}
/* banner related styles */
.banner-content{

  max-width:850px;
  margin:0 auto ;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-image{
  width: 100%;
}
/* team and feature related styles */
.teams{
  display: flex;
  margin: 50px 100px;
  align-items: center;
}
.team-img-container{
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.our-features{
  margin-left: 60px;
  
}

/* some facts related styles */
.some-facts{
  margin: 50px 100px;
}
.facts-number{
  font-size: 2rem;
  font-weight: 600;
  margin: 3px 6px;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.fact-card{
  width: 180px;
  height: 180px;
  border: 1px solid #FF900E;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-name{
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 600;
}
.fact-description{
  max-width: 600px;
}
/* our sponsors styles */
.our-sponsors{
  margin: 50px 100px;
}
.sponsor-info{
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.sponsor-companies img{
  filter: grayscale(100%);
}
/* architect-sister feature styles */
.feature-section{
  gap: 70px;
}
.feature-section{
  margin: 50px 100px;
}
#feature-section-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}
.feature-card , .feature-title{
 font-weight: 600;
 font-size: 1rem;
 margin-top: 0px;
 margin-bottom: 0px;
}
.feature-card{
 padding: 10px;
 box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06)  ;
 margin-bottom: 20px;
 border-radius: 10px;
}
#experience-badge{
  padding: 40px 40px;
  font-size: 1rem;
  font-weight: 400;
  margin-left: -50px;
  margin-top: -80px;
}
.experience-year{
  font-size: 3rem;
  font-weight: 700;
}


/* responsive for small-device media query */
@media screen and (max-width: 576px){
  .navbar, .nav-links, .teams , .feature-section{
    flex-direction: column;
  }
  .team-img-container , .sponsor-companies{
    grid-template-columns: repeat(1,1fr);
  }
  .our-features{
    margin-left: 20px;
  }
  .teams{
    margin: 0px 0px 0px 20px;
  }
  .facts-container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 15px;
  }
  .sponsor-companies{
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 35px;
  }
  .feature-architect{
    width: 100%;
  }
  .img{
    width: 100%;
  }
  #experience-badge{
    display: none;
  }
}
/* responsive for medium-device media query */
@media screen and (min-width: 576px) and (max-width:992px){
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 50px auto;
  }
}